
body {
  margin:0 auto;
  text-align:center;
}

main {
  margin:35px auto;
  width:850px;
}

header {
  background-color:#F15B31;
  padding:30px 20px;
}

nav {
  background-color: #00A6B3;
  padding: 20px 0;
}


h1 {
  color:white;
  font-family: "Raleway", sans-serif;
  font-size:45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin:0;
  text-transform: uppercase;
}

h2 {
  color: #F15B31;
  font-family:"Raleway", sans-serif;
  font-size:18px;
  font-weight:600;
  letter-spacing: 1px;
}

h3 {
   color: #F15B31;
   font-family:"Raleway", sans-serif;
   letter-spacing: 1px;
}

p {
  font-family: "Droid Serif", serif;
}

a {
  border-bottom:2px solid transparent;
  color:white;
  font-family:"Raleway", sans-serif;
  font-size:20px;
  font-weight:600;
  letter-spacing: 1px;
  margin:0 20px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  border-color: white;
}

img {
  margin:40px 0 8px 8px;
}

footer {
  text-transform: uppercase;
  padding:0 20px;
  background-color:#0D2C40;
  color:white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copyright {
  font-family:"Raleway", sans-serif;
  float:left;
}

.message {
  font-family:"Raleway", sans-serif;
  float:right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color:#F15B31;
  font-weight: 700;
}




